# Your Title Here

**Name(s)**: (your name(s) here)

**Website Link**: (your website link)

In [133]:
import pandas as pd
import numpy as np
from pathlib import Path

import plotly.express as px
pd.options.plotting.backend = 'plotly'

# from dsc80_utils import * # Feel free to uncomment and use this.

## Step 1: Introduction

In [134]:
recipes_df = pd.read_csv('data/RAW_recipes.csv')

In [135]:
recipes_interactions_df = pd.read_csv('data/RAW_interactions.csv')

## Step 2: Data Cleaning and Exploratory Data Analysis

In [136]:
recipes_df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,1 brownies in the world best ever,333281,40,985201,2008-10-27,"['60-minutes-or-less', 'time-to-make', 'course...","[138.4, 10.0, 50.0, 3.0, 3.0, 19.0, 6.0]",10,['heat the oven to 350f and arrange the rack i...,"these are the most; chocolatey, moist, rich, d...","['bittersweet chocolate', 'unsalted butter', '...",9
1,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,"['60-minutes-or-less', 'time-to-make', 'cuisin...","[595.1, 46.0, 211.0, 22.0, 13.0, 51.0, 26.0]",12,"['pre-heat oven the 350 degrees f', 'in a mixi...",this is the recipe that we use at my school ca...,"['white sugar', 'brown sugar', 'salt', 'margar...",11
2,412 broccoli casserole,306168,40,50969,2008-05-30,"['60-minutes-or-less', 'time-to-make', 'course...","[194.8, 20.0, 6.0, 32.0, 22.0, 36.0, 3.0]",6,"['preheat oven to 350 degrees', 'spray a 2 qua...",since there are already 411 recipes for brocco...,"['frozen broccoli cuts', 'cream of chicken sou...",9
3,millionaire pound cake,286009,120,461724,2008-02-12,"['time-to-make', 'course', 'cuisine', 'prepara...","[878.3, 63.0, 326.0, 13.0, 20.0, 123.0, 39.0]",7,"['freheat the oven to 300 degrees', 'grease a ...",why a millionaire pound cake? because it's su...,"['butter', 'sugar', 'eggs', 'all-purpose flour...",7
4,2000 meatloaf,475785,90,2202916,2012-03-06,"['time-to-make', 'course', 'main-ingredient', ...","[267.0, 30.0, 12.0, 12.0, 29.0, 48.0, 2.0]",17,"['pan fry bacon , and set aside on a paper tow...","ready, set, cook! special edition contest entr...","['meatloaf mixture', 'unsmoked bacon', 'goat c...",13

This dataset contains a list of recipes and details about the said recipes

In [137]:
recipes_interactions_df.head()

,user_id,recipe_id,date,rating,review
0,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
1,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
2,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."
3,124416,120345,2011-08-06,0,"Just an observation, so I will not rate. I fo..."
4,2000192946,120345,2015-05-10,2,This recipe was OVERLY too sweet. I would sta...

Let's find merge the dataframs by recipe_id

In [138]:
merged_df = recipes_df.merge(recipes_interactions_df, left_on='id', right_on='recipe_id', how = 'left')

In [139]:
merged_df.drop(columns = ['recipe_id'], inplace = True)

In [140]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234429 entries, 0 to 234428
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            234428 non-null  object
 1   id              234429 non-null  int64
 2   minutes         234429 non-null  int64
 3   contributor_id  234429 non-null  int64
 4   submitted       234429 non-null  object
 5   tags            234429 non-null  object
 6   nutrition       234429 non-null  object
 7   n_steps         234429 non-null  int64
 8   steps           234429 non-null  object
 9   description     234315 non-null  object
 10  ingredients     234429 non-null  object
 11  n_ingredients   234429 non-null  int64
 12  user_id         234428 non-null  float64
 13  date            234428 non-null  object
 14  rating          234428 non-null  float64
 15  review          234371 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 28.6+ MB

There are NaN values in review and description

In [141]:
merged_df.describe()

,id,minutes,contributor_id,n_steps,n_ingredients,user_id,rating
count,234429.000000,2.344290e+05,2.344290e+05,234429.000000,234429.000000,2.344280e+05,234428.000000
mean,373164.249159,1.067897e+02,1.239254e+07,10.017835,9.071506,2.215493e+08,4.379724
std,67801.040309,3.285975e+03,1.484917e+08,6.442265,3.823039,6.193941e+08,1.336766
min,275022.000000,0.000000e+00,1.533000e+03,1.000000,1.000000,1.535000e+03,0.000000
25%,314272.000000,2.000000e+01,2.166250e+05,6.000000,6.000000,2.263720e+05,4.000000
50%,363144.000000,3.500000e+01,4.471990e+05,9.000000,9.000000,4.965380e+05,5.000000
75%,424517.000000,6.000000e+01,7.774530e+05,13.000000,11.000000,1.299206e+06,5.000000
max,537716.000000,1.051200e+06,2.002290e+09,100.000000,37.000000,2.002372e+09,5.000000

In [142]:
rating_frequency = merged_df['rating'].value_counts().reset_index()
rating_frequency.columns = ['Rating', 'Frequency']

Let's check the distribution of ratings

In [143]:
fig = px.bar(rating_frequency, x='Rating', y='Frequency', 
             title='Frequency of Ratings', 
             labels={'Rating': 'Rating', 'Frequency': 'Frequency'},
             text='Frequency')

# Show the plot
fig.show()

It seems that most people rate things a 0, there are also alot of people who rate things a zero, let's investigate this

In [144]:
merged_df[merged_df['rating'] == 0 ].head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,user_id,date,rating,review
11,50 chili for the crockpot,501028,345,2628680,2013-05-28,"['course', 'main-ingredient', 'cuisine', 'prep...","[270.2, 19.0, 26.0, 48.0, 52.0, 21.0, 4.0]",4,['combine all ingredients in a 7-quart crockpo...,"first, thank you to *parsley* - chef # 199848 ...","['stewing beef', 'stewing pork', 'white onion'...",22,1.800120e+09,2013-10-26,0.0,We tried it last weekend and it the entire fam...
16,lplermagronen,455351,55,1308592,2011-05-07,"['60-minutes-or-less', 'time-to-make', 'prepar...","[651.8, 33.0, 12.0, 16.0, 32.0, 63.0, 33.0]",15,['heat oven to 375f set a large pot of salted ...,"known as swiss mac n cheese, älplermagronen wa...","['potato', 'penne pasta', 'onions', 'butter', ...",8,1.255389e+07,2014-10-17,0.0,"I made this using emmentaler, a swiss cheese. ..."
20,der wiener schnitzel style chili dog sauce,523359,55,2000414501,2015-08-27,"['60-minutes-or-less', 'time-to-make', 'prepar...","[259.7, 23.0, 18.0, 31.0, 34.0, 28.0, 4.0]",16,['in a large size dutch oven or large size dee...,this was the best chili dog ever invented! i l...,"['ground beef', 'ground pork', 'water', 'corns...",14,1.142430e+05,2015-09-05,0.0,This recipe is almost exactly like firemandave...
94,she crab cream of crab soup,275675,45,711025,2008-01-02,"['60-minutes-or-less', 'time-to-make', 'course...","[777.3, 50.0, 27.0, 144.0, 62.0, 69.0, 12.0]",3,"['combine all ingredients in double boiler', '...","i got this recipe from my grandmother, who was...","['cream of mushroom soup', 'cream of celery so...",10,7.181310e+05,2008-01-13,0.0,Me and my wife made this recipe tonight. Somew...
95,she crab cream of crab soup,275675,45,711025,2008-01-02,"['60-minutes-or-less', 'time-to-make', 'course...","[777.3, 50.0, 27.0, 144.0, 62.0, 69.0, 12.0]",3,"['combine all ingredients in double boiler', '...","i got this recipe from my grandmother, who was...","['cream of mushroom soup', 'cream of celery so...",10,2.067470e+05,2008-01-15,0.0,NO ONE from Maryland will appreciate this if y...

It's unsual if there is a rating of 0 as usually ratings are on a scale from 1-5, let's fill the 0 values with np.nan

In [156]:
merged_df['rating'].replace(0, np.nan, inplace = True)

/var/folders/xj/9k1vk1y543g0n6yx1n3b9zxw0000gn/T/ipykernel_60414/1236019410.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

We want to make seperate columns for each macronutrient as this would make analyzing them easier

In [159]:
merged_df['nutrition'].iloc[0]

'[138.4, 10.0, 50.0, 3.0, 3.0, 19.0, 6.0]'

Nutrition data is formated like this [calories (#), total fat (PDV), sugar (PDV), sodium (PDV), protein (PDV), saturated fat (PDV), carbohydrates (PDV)], let's seperate this data to get invidual columns for each  nutrient

In [160]:
merged_df['nutrition'][0].strip('[]').split(', ')

['138.4', '10.0', '50.0', '3.0', '3.0', '19.0', '6.0']

We walso want to check if the nutrition column contains all these values or not, we can do this by checking the length of every nutrition

In [161]:
format_nutrition =  ['calories (#)', 'total fat (PDV)', 'sugar (PDV)', 'sodium (PDV)', 'protein (PDV)', 'saturated fat (PDV)', 'carbohydrates (PDV)']

In [162]:
nutrition_length = merged_df['nutrition'].str.strip('[]').str.split(', ').str.len()

In [163]:
nutrition_length.value_counts()

nutrition
7    234429
Name: count, dtype: int64

from this we know that the data is all formatted the same way

In [164]:
for index, nutrition in enumerate(format_nutrition):
    print(index, nutrition)

0 calories (#)
1 total fat (PDV)
2 sugar (PDV)
3 sodium (PDV)
4 protein (PDV)
5 saturated fat (PDV)
6 carbohydrates (PDV)

In [202]:
for index, nutrition in enumerate(format_nutrition):
    merged_df[nutrition] = merged_df['nutrition'].apply(lambda x: float(x.strip('[]').split(', ')[index]))

In [203]:
merged_df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,...,calories (#),total fat (PDV),sugar (PDV),sodium (PDV),protein (PDV),saturated fat (PDV),carbohydrates (PDV),calories (#) (grams),total fat (PDV) (grams),sugar (PDV) (grams)
0,1 brownies in the world best ever,333281,40,985201,2008-10-27,"['60-minutes-or-less', 'time-to-make', 'course...","[138.4, 10.0, 50.0, 3.0, 3.0, 19.0, 6.0]",10,['heat the oven to 350f and arrange the rack i...,"these are the most; chocolatey, moist, rich, d...",...,138.4,10.0,50.0,3.0,3.0,19.0,6.0,138.4,10.010.010.010.010.010.010.010.010.010.010.010...,50.050.050.050.050.050.050.050.050.050.050.050...
1,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,"['60-minutes-or-less', 'time-to-make', 'cuisin...","[595.1, 46.0, 211.0, 22.0, 13.0, 51.0, 26.0]",12,"['pre-heat oven the 350 degrees f', 'in a mixi...",this is the recipe that we use at my school ca...,...,595.1,46.0,211.0,22.0,13.0,51.0,26.0,595.1,46.046.046.046.046.046.046.046.046.046.046.046...,211.0211.0211.0211.0211.0211.0211.0211.0211.02...
2,412 broccoli casserole,306168,40,50969,2008-05-30,"['60-minutes-or-less', 'time-to-make', 'course...","[194.8, 20.0, 6.0, 32.0, 22.0, 36.0, 3.0]",6,"['preheat oven to 350 degrees', 'spray a 2 qua...",since there are already 411 recipes for brocco...,...,194.8,20.0,6.0,32.0,22.0,36.0,3.0,194.8,20.020.020.020.020.020.020.020.020.020.020.020...,6.06.06.06.06.06.06.06.06.06.06.06.06.06.06.06...
3,412 broccoli casserole,306168,40,50969,2008-05-30,"['60-minutes-or-less', 'time-to-make', 'course...","[194.8, 20.0, 6.0, 32.0, 22.0, 36.0, 3.0]",6,"['preheat oven to 350 degrees', 'spray a 2 qua...",since there are already 411 recipes for brocco...,...,194.8,20.0,6.0,32.0,22.0,36.0,3.0,194.8,20.020.020.020.020.020.020.020.020.020.020.020...,6.06.06.06.06.06.06.06.06.06.06.06.06.06.06.06...
4,412 broccoli casserole,306168,40,50969,2008-05-30,"['60-minutes-or-less', 'time-to-make', 'course...","[194.8, 20.0, 6.0, 32.0, 22.0, 36.0, 3.0]",6,"['preheat oven to 350 degrees', 'spray a 2 qua...",since there are already 411 recipes for brocco...,...,194.8,20.0,6.0,32.0,22.0,36.0,3.0,194.8,20.020.020.020.020.020.020.020.020.020.020.020...,6.06.06.06.06.06.06.06.06.06.06.06.06.06.06.06...

One problem is that we the nutrient values are in PDV format, we want to convert it to grams. We'll use the the FDA guidelines for reccomended daily nutrient intake to convert these values into grams: <br>
Total Fat: 78g <br>
Saturated Fat: 20g <br>
Carbohydrates: 275g <br>
Sugars: No official FDA guideline for daily value (assumed 50g for added sugars) <br>
Protein: 50g <br>
Sodium: 2300mg (convert to grams: 2.3g) <br>
Calories: Calories are not measured in grams, so this will remain unchanged. <br>

In [204]:
CONVERSION_FACTORS = {
    'calories': 1,
    'total_fat': 78,  # grams
    'sugar': 50,  # assumed 50g as daily value for sugar
    'sodium': 2.3,  # 2300 mg converted to 2.3 grams
    'protein': 50,  # grams
    'saturated_fat': 20,  # grams
    'carbohydrates': 275  # grams

}
factors = CONVERSION_FACTORS.values()

In [205]:
factors_list = list(factors)

In [208]:
format_nutrition.split()

['calories (#)',
 'total fat (PDV)',
 'sugar (PDV)',
 'sodium (PDV)',
 'protein (PDV)',
 'saturated fat (PDV)',
 'carbohydrates (PDV)']

In [209]:
for index, nutrition in enumerate(format_nutrition):
    title = f'{nutrition} (grams)'
    merged_df[title] = merged_df[nutrition] * factors_list[index]

In [211]:
merged_df.head().drop(columns = ['nutrition'])

,name,id,minutes,contributor_id,submitted,tags,n_steps,steps,description,ingredients,...,protein (PDV),saturated fat (PDV),carbohydrates (PDV),calories (#) (grams),total fat (PDV) (grams),sugar (PDV) (grams),sodium (PDV) (grams),protein (PDV) (grams),saturated fat (PDV) (grams),carbohydrates (PDV) (grams)
0,1 brownies in the world best ever,333281,40,985201,2008-10-27,"['60-minutes-or-less', 'time-to-make', 'course...",10,['heat the oven to 350f and arrange the rack i...,"these are the most; chocolatey, moist, rich, d...","['bittersweet chocolate', 'unsalted butter', '...",...,3.0,19.0,6.0,138.4,780.0,2500.0,6.9,150.0,380.0,1650.0
1,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,"['60-minutes-or-less', 'time-to-make', 'cuisin...",12,"['pre-heat oven the 350 degrees f', 'in a mixi...",this is the recipe that we use at my school ca...,"['white sugar', 'brown sugar', 'salt', 'margar...",...,13.0,51.0,26.0,595.1,3588.0,10550.0,50.6,650.0,1020.0,7150.0
2,412 broccoli casserole,306168,40,50969,2008-05-30,"['60-minutes-or-less', 'time-to-make', 'course...",6,"['preheat oven to 350 degrees', 'spray a 2 qua...",since there are already 411 recipes for brocco...,"['frozen broccoli cuts', 'cream of chicken sou...",...,22.0,36.0,3.0,194.8,1560.0,300.0,73.6,1100.0,720.0,825.0
3,412 broccoli casserole,306168,40,50969,2008-05-30,"['60-minutes-or-less', 'time-to-make', 'course...",6,"['preheat oven to 350 degrees', 'spray a 2 qua...",since there are already 411 recipes for brocco...,"['frozen broccoli cuts', 'cream of chicken sou...",...,22.0,36.0,3.0,194.8,1560.0,300.0,73.6,1100.0,720.0,825.0
4,412 broccoli casserole,306168,40,50969,2008-05-30,"['60-minutes-or-less', 'time-to-make', 'course...",6,"['preheat oven to 350 degrees', 'spray a 2 qua...",since there are already 411 recipes for brocco...,"['frozen broccoli cuts', 'cream of chicken sou...",...,22.0,36.0,3.0,194.8,1560.0,300.0,73.6,1100.0,720.0,825.0

## Step 3: Assessment of Missingness

In [212]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234429 entries, 0 to 234428
Data columns (total 30 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   name                         234428 non-null  object
 1   id                           234429 non-null  int64
 2   minutes                      234429 non-null  int64
 3   contributor_id               234429 non-null  int64
 4   submitted                    234429 non-null  object
 5   tags                         234429 non-null  object
 6   nutrition                    234429 non-null  object
 7   n_steps                      234429 non-null  int64
 8   steps                        234429 non-null  object
 9   description                  234315 non-null  object
 10  ingredients                  234429 non-null  object
 11  n_ingredients                234429 non-null  int64
 12  user_id                      234428 non-null  float64
 13  date                         234428 non-null  object
 14  rating                       219393 non-null  float64
 15  review                       234371 non-null  object
 16  calories (#)                 234429 non-null  float64
 17  total fat (PDV)              234429 non-null  float64
 18  sugar (PDV)                  234429 non-null  float64
 19  sodium (PDV)                 234429 non-null  float64
 20  protein (PDV)                234429 non-null  float64
 21  saturated fat (PDV)          234429 non-null  float64
 22  carbohydrates (PDV)          234429 non-null  float64
 23  calories (#) (grams)         234429 non-null  float64
 24  total fat (PDV) (grams)      234429 non-null  float64
 25  sugar (PDV) (grams)          234429 non-null  float64
 26  sodium (PDV) (grams)         234429 non-null  float64
 27  protein (PDV) (grams)        234429 non-null  float64
 28  saturated fat (PDV) (grams)  234429 non-null  float64
 29  carbohydrates (PDV) (grams)  234429 non-null  float64
dtypes: float64(16), int64(5), object(9)
memory usage: 53.7+ MB

In [122]:
recipes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83782 entries, 0 to 83781
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            83781 non-null  object
 1   id              83782 non-null  int64
 2   minutes         83782 non-null  int64
 3   contributor_id  83782 non-null  int64
 4   submitted       83782 non-null  object
 5   tags            83782 non-null  object
 6   nutrition       83782 non-null  object
 7   n_steps         83782 non-null  int64
 8   steps           83782 non-null  object
 9   description     83712 non-null  object
 10  ingredients     83782 non-null  object
 11  n_ingredients   83782 non-null  int64
dtypes: int64(5), object(7)
memory usage: 7.7+ MB

## Step 4: Hypothesis Testing

In [123]:
import pandas as pd
import numpy as np

# Step 1: Merge datasets on recipe_id
merged_df = recipes_interactions_df.merge(recipes_df, left_on='recipe_id', right_on='id')

# Step 2: Compute the combined observed TVD
def calculate_combined_tvd(data):
    grouped = data.groupby('n_ingredients')['rating']
    overall_distribution = data['rating'].value_counts(normalize=True).sort_index()
    
    # Compute combined TVD as the sum of group contributions
    tvd = 0
    for group, ratings in grouped:
        group_distribution = ratings.value_counts(normalize=True).sort_index()
        # Align and normalize to handle missing values
        group_distribution, overall_distribution = group_distribution.align(overall_distribution, fill_value=0)
        tvd += 0.5 * np.abs(group_distribution - overall_distribution).sum()
    return tvd

# Calculate the observed TVD
observed_tvd = calculate_combined_tvd(merged_df)

# Step 3: Perform permutation test using np.random.permutation
def permutation_test(data, observed_tvd, num_permutations=1000):
    null_tvd = []
    for _ in range(num_permutations):
        # Shuffle the ratings
        shuffled_data = data.copy()
        shuffled_data['rating'] = np.random.permutation(shuffled_data['rating'])
        
        # Calculate the combined TVD for the shuffled data
        shuffled_tvd = calculate_combined_tvd(shuffled_data)
        null_tvd.append(shuffled_tvd)
    return null_tvd

# Run the permutation test
num_permutations = 1000
null_distribution = permutation_test(merged_df, observed_tvd, num_permutations)

# Step 4: Compute the single p-value
p_value = (np.sum(np.array(null_distribution) >= observed_tvd) + 1) / (num_permutations + 1)

# Display results
print(f"Observed TVD: {observed_tvd:.4f}")
print(f"p-value: {p_value:.4f}")

Observed TVD: 2.4445
p-value: 0.2577

In [124]:
# TODO

## Step 6: Baseline Model

In [125]:
# TODO

## Step 7: Final Model

In [126]:
# TODO

## Step 8: Fairness Analysis

In [127]:
# TODO